.content{
				margin-top: 15px;
			}
			.inventoryinfo{
				height: 462px;
				border: 1px solid black;	
				overflow: auto;	
				clear: both;		
			}
			.inventoryinfo table{
				width: 1500px;
				text-align: center;
			}
			.search{
				width: 280px;
				float: left;
			}
			.search input{
				height: 28px;
			}
			.search button{
				height: 28px;
			}
			.add{
				float: left;
				margin-left:20px
			}
			.add button{
				width: 80px;
				height: 28px;
				background-color: gold;
				border-radius: 5px;
				border: 0px;
			}